scopeName: 'source.assembly.6502'
name: '6502 Assembly'
patterns: [
    {
        name: 'keyword.other.mnemonic'
        match: '(?i)(^|(?<=[:+-]))\\s*(ADC|AND|ASL|BBR|BBS|BCC|BCS|BEQ|BIT|BMI|BNE|BPL|BRA|BRK|BVC|BVS|CLC|CLD|CLI|CLV|CMP|CPX|CPY|DEC|DEX|DEY|EOR|INC|INX|INY|JMP|JSR|LDA|LDX|LDY|LSR|NOP|ORA|PHA|PHP|PHX|PHY|PLA|PLP|PLX|PLY|RMB|ROL|ROR|RTI|RTS|SBC|SEC|SED|SEI|SMB|STA|STP|STX|STY|STZ|TAX|TAY|TRB|TSB|TSX|TXA|TXS|TYA|WAI)\\b'
    }
    {
        name: 'comment.line.semicolon'
        match: ';.*$'
    }
    {
        name: 'entity.name.label'
        match: '^\\s*?\\S*?:'
    }
    {
        name: 'support.function.directive'
        match: '^\\s*?\\.\\b\\w+?\\b'
    }
    {
        name: 'string.quoted.double'
        match: '"([^"\\\\]|\\.)*"'
    }
    {
        name: 'constant.numeric.decimal'
        match: '\\b\\d+?\\b'
    }
    {
        name: 'constant.numeric.hex'
        match: '(\\$[[:xdigit:]]+?\\b|\\b[[:xdigit:]]+?h\\b)'
    }
    {
        name: 'constant.numeric.binary'
        match: '%[01]+?\\b'
    }
    {
        name: 'constant.character'
        match: '\'([^\']|\\\\.+?)\''
    }
]
